/** CSS STYLE **/

:root {
  --main-color: #fe8a02;
  --main-color-dark: #42413c;
  --white: #fff;
  --tl-white: #d7ccc0;
  --light: #f5f4f0;
  --dark: #2a2626;
  --tl-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 700;
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-weight: 400;
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-weight: 400;
  font-family: "Neucha";
  src: url(../fonts/Neucha-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
  font-family: "Neucha";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header {
  width: 100vh;
  margin: 0 auto;
}

header::before {
  background-image: url(../images/background-pattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

section::before {
}

.orange {
  color: var(--main-color);
}

.bg-orange {
  background-color: var(--main-color);
}

.container {
  width: 1110px;
  padding: 100px 0px;
}

.hello {
  display: block;
  color: #fff;
}
