/** CSS STYLE **/

:root {
  --main-color: #fe8a02;
  --main-color-dark: #42413c;
  --white: #fff;
  --tl-white: #d7ccc0;
  --light: #f5f4f0;
  --dark: #2a2626;
  --tl-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 700;
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-weight: 400;
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-weight: 400;
  font-family: "Neucha";
  src: url(../fonts/Neucha-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
  font-family: "Neucha";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
  font-weight: 400;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header {
  width: 1440px;
  margin: 0px auto;
  background-color: var(--light);
}

.header-bg {
  background-image: url(../images/background-pattern.png);
  background-size: auto;
}

.orange {
  color: var(--main-color);
}

.bg-orange {
  background-color: var(--main-color);
}

.header-bg-content {
  background-image: url(../images/background-pattern.png);
  background-size: contain;
}

.container {
  width: 1110px;
  padding: 100px 0px;
  margin: 0 auto;
}
.main-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 190px;
  position: relative;
}
.hello {
  display: block;
  color: var(--white);
}
.hero-title {
  font-size: 72px;
  position: relative;
  z-index: 3;
}
.mtop-7px {
  margin-top: 7px;
}
.w540 {
  width: 540px;
}
.main-text {
  width: 540px;
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
}
.tota_pic {
  position: absolute;
  right: -180px;
  z-index: 1;
}
.header-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bg-orange {
  background-color: var(--main-color);
  color: var(--white);
  font-family: "OpenSans";
  font-weight: 700;
  border: none;
  width: 148px;
  height: 50px;
  font-size: 16px;
  text-transform: uppercase;
}
.group-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  gap: 20px;
}
